/* цвет основного текста 
#212121 */
/* цвет дополнительного текста 
#757575 */
/* цвет фона хедер #FFFFFF */
/* цвет фона шапка #2F303A; */
/* цвет шрифт в шапке #FFFFFF */
/* цвет кнопки background: #2196F3; */
/*  цвет фона наша команда #F5F4FA; */
/* цвет фона основного контента #FFFFFF; */
/* цвет фона футер #2F303A; */

:root {
  --link-color: #2196f3;
  --maim-text-color: #212121;
}

body {
  font-family: "Roboto", "Raleway", "sans-serif";
  background-color: #fff;
  color: var(--maim-text-color);
}
/* header */
.header {
  background-color: #ffffff;
}
.logo > span {
  color: #2196f3;
}
.logo:focus {
  color: #2196f3;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000;
}

.list {
  list-style: none;
}
.item {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  color: #212121;
}

.item:hover,
.list .item:focus,
.active:active {
  color: #2196f3;
}

.contacts > li {
  list-style: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link {
  font-weight: 500;
  text-decoration: none;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.active:hover {
  color: #2196f3;
}

/* main content -- section 1  */
.section {
  background-color: #2f303a;
  color: #fff;
}
.section .section-title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 44px;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  background-color: #2196f3;
  color: #212121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn:hover {
  background-color: #188ce8;
  color: #ffffff;
}
.btn {
  cursor: pointer;
  border: 0;
}
.btn:active {
  color: #2196f3;
}

.btn:focus {
  background-color: #2196f3;
  color: #fff;
}
/*  main section */

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #757575;
}
/* section-2 */

.about-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.about-list {
  list-style: none;
}
/*  section team */

.section-team {
  background-color: #f5f4fa;
}

.section-team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--maim-text-color);
}

.section-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-team p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* footer */

.footer {
  background-color: #2f303a;
}
.footer > a {
  color: #fff;
}

.list-adress {
  text-decoration: none;
  list-style: none;
  font-style: normal;
}
.list-adress {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  list-style: none;
}

.adress >a {
  color: rgba(255, 255, 255, 1);
}

.footer-link > a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.link.active {
  cursor: pointer;
  text-decoration: none;
  
}
.link.active:focus {
  color: #2196f3;
}


.list .btn {
  background-color: #F5F4FA
  ;
}

.list .btn:hover {
  background-color: #2196f3;
}
.list .btn:active {
  background-color: #2196f3;
  color: #fff;
}