/* цвет основного текста 
#212121 */
/* цвет дополнительного текста 
#757575 */
/* цвет фона хедер #FFFFFF */
/* цвет фона шапка #2F303A; */
/* цвет шрифт в шапке #FFFFFF */
/* цвет кнопки background: #2196F3; */
/*  цвет фона наша команда #F5F4FA; */
/* цвет фона основного контента #FFFFFF; */
/* цвет фона футер #2F303A; */

:root {
  --link-color: #2196f3;
  --main-text-color: #212121;
  --body-background: #ffffff;
  --secondary-font-color: #757575;
  --footer-backg-color: #2f303a;
  --header-bckg-color: #ffffff;
  --main-section-bckg-color: #2f303a;
  --list-btn-bckg-potfolio-page: #f5f4fa;
  --adres-text-color: #ffffff;
}

body {
  font-family: 'Roboto', 'Raleway', 'sans-serif';
  background-color: var(--body-background);
  color: var(--main-text-color);
  letter-spacing: normal;
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* global link */
.link {
  text-decoration: none;
}

/* global link */

/* header */
.header {
  background-color: var(--body-background);
}
.logo > span {
  color: #2196f3;
}
.logo:focus {
  color: none;
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000;
}

.list {
  list-style: none;
}
.item {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  color: #212121;
}

.item:hover,
.list .item:focus,
.active:active {
  color: #2196f3;
}

.current {
  color: #2196f3;
}

.contacts > li {
  list-style: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link {
  font-weight: 500;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.active:hover {
  color: #2196f3;
}

/* main content -- section 1  */
.section {
  background-color: var(--main-section-bckg-color);
  color: #fff;
}
.section .section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

/* main content -- section 1  */

/* btn decoration portfolio */

.btn-list {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  border: 0;
}



/* btn decoration portfolio */

.btn:hover {
  background-color: #188ce8;
  color: #ffffff;
}

.btn:active {
  color: #2196f3;
}

.btn:focus {
  background-color: #2196f3;
  color: #fff;
}
/*  main section */

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

/* main section portfolio  */

.list-title {
  font-weight: 700;
  font-size: 18px;
  line-height:2.25;
  letter-spacing: 0.06em;
  color: var(--maim-text-color);
}

/* section-2 */

.about-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.about-list {
  list-style: none;
}
/*  section team */

.section-team {
  background-color: #f5f4fa;
}

.section-team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--maim-text-color);
}

.section-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.section-team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* footer */

.footer {
  background-color: var(--footer-backg-color);
}
.footer > a {
  color: #fff;
}

.list-adress {
  list-style: none;
  font-style: normal;
}
.list-adress {
  color: var(--adres-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  list-style: none;
}

.adress > a {
  color: rgba(255, 255, 255, 1);
}

.footer-link > a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.link.active:focus {
  color: #2196f3;
}

.list .btn {
  background-color: var(--list-btn-bckg-potfolio-page);
}

.list .btn:hover {
  background-color: #2196f3;
}
.list .btn:active {
  background-color: #2196f3;
  color: #fff;
}
